/*-- scss:defaults --*/

$body-bg: #000;  // Background color set to black
$body-color: #fff;  // Text color set to white
$link-color: #42affa;  // Link color remains unchanged
$body-font-size: 16px;  // Adjust this value to make the font size smaller or larger

/*-- scss:rules --*/

.reveal {
  background-color: $body-bg;
  color: $body-color;
  font-size: $body-font-size;  // Set the body font size

  .slides {
    .slide {
      /* Styling for each slide */
      background-color: $body-bg;
      color: $body-color;
      transition: transform 0.5s ease-in-out;  // Slide animation

      /* Customizing blockquotes */
      blockquote {
        border-left: 3px solid lighten($body-color, 20%);
        padding-left: 0.5em;
        color: lighten($body-color, 40%);
      }
    }
  }


  /* Customizing links */
  a {
    color: $link-color;

    &:hover {
      color: lighten($link-color, 20%);
    }
  }
}